
footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-social {
  display: flex;
  flex-direction: column;
}
span{
    margin: 0.5em;
    display: flex;
    align-items: center;
}
.social-icon{
    width:  2rem;
    margin-right: 0.5rem;
}