.container{
    display: flex;
    justify-content: space-around;
    margin:0 2rem 0 2rem;
}
.container > * {
    padding: 0.5rem;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container-search {
        flex-direction: column;
        width: 100%;
    }
}