.container{
    display: flex;
    justify-content: space-around;
    margin:0 2rem 0 2rem;
}
.container-search{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 20%;
}