.dashboard-title{
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}

.container-content {
  display: flex;
  justify-content:center;
  align-items: stretch;
  gap: 32px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}