:host {
  display: block;
  height: 100%;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f4f6;
}

#card-content {
  color: inherit;        
  text-decoration: none;  
  font-weight: normal;
}

#card-content:hover {
  text-decoration: underline;
}

.card-actions {
  border: 2px solid black;
  padding: 8px;
  margin: 5px;
}