<div class="container-header">
    <h1 class="header">Estadisticas de noticieros españoles</h1>
</div>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon aria-hidden="true">home</mat-icon>
      <span class="content">Home</span>
    </ng-template>
    <app-home></app-home>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon aria-hidden="true">analytics</mat-icon>
      <span class="content">Estadísticas</span>
    </ng-template>
    <app-dashboard></app-dashboard>
  </mat-tab>
</mat-tab-group>
