.first-container{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.first-container mat-form-field {
  width: 300px;
}

.search-btn{
  margin-left: 5px;
  background-color: #1e293b !important;
}

.second-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  padding-inline: 24px;
  box-sizing: border-box;;
  margin-bottom: 10px;
}