<div class="footer-container">
  <div class="first-container">Desarrollado por Anton y Donato</div>

  <div class="second-container">
    <div>
      <div class="contact-row">
        <a href="https://www.linkedin.com/in/anton-blagodarnyy/" target="_blank" class="contact-link">
          <img src="assets/icons/linkedin.png" alt="Linkedin" width="20" height="20">
          <span class="contact">LinkedIn Anton</span>
        </a>
      </div>
  
      <div class="contact-row">
        <a href="https://www.linkedin.com/in/donato-marino" target="_blank" class="contact-link">
          <img src="assets/icons/linkedin.png" alt="Linkedin" width="20" height="20">
          <span class="contact">LinkedIn Donato</span>
        </a>
      </div>
    </div>

    <div>
      <div class="contact-row">
        <a href="https://github.com/antonBlagodarnyy" target="_blank" class="contact-link">
          <img src="assets/icons/github-logo.png" alt="Linkedin" width="20" height="20">
          <span class="contact">GitHub Anton</span>
        </a>
      </div>
      <div class="contact-row">
        <a href="https://github.com/donatomarino" target="_blank" class="contact-link">
          <img src="assets/icons/github-logo.png" alt="Linkedin" width="20" height="20">
          <span class="contact">GitHub Donato</span>
        </a>
      </div>
    </div>
</div>